<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Start CRM</h1>
        <br><br><br>
        
            <form action="http://localhost:8080/add?">
                <b>Prenom:</b><input type="text" name="firstName" value="">
                <b>Nom:</b>  <input type="text" name="lastName" value="">
                <b>Email:</b> <input type="text" name="email" value="">
                <b>Phone:</b> <input type="text" name="phone" value="">
        <br><br>    
                <input href="#about" class="btn btn-dark btn-lg" type="submit" value="valider">
            </form>
        </div> 

            <br>
            
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
        
        <%
        for (var i=0 ; i<clientList.length ; i++){
        %>
            <div class="text-center">

                <b><%=clientList[i].firstName%></b>
                <b><%=clientList[i].lastName%></b>
                <%=clientList[i].email%>
                <%=clientList[i].phone%>
     
            <form action="http://localhost:8080/delete?">
                <input type="submit" class="btn btn-info btn-xs" value="Suppimer">
            </form>
            </div>
   <br>

        <%   
        }
        %>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

</body>

</html>
